.Last {
    background-color: rgb(255, 255, 255);
    width: 96%;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: 2%;
    padding: 1% 3%;
    overflow: auto;
    h1 {
        font-size: 20px;
        color: #777777;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
    }
    .LastTable {
        th {
            border: 1px double rgb(0, 0, 0);
            color: #1b1b1b;
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
        }
        td {
            border: 1px double rgba(0, 0, 0, 0.089);

            }
            tr {
                &:hover {
                    border: 1px double rgba(0, 0, 0, 0.603);
                    background: rgba(0, 0, 0, 0.212);
            }
        }
    }
}